@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600&family=Red+Hat+Mono:wght@400;500;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Red Hat Mono';
}

.container {
  margin: 2rem;
  outline: 1px solid red;
  max-width: 320px;
  max-height: 650px;
  height: 650px;
  background: #fbf9ff;
}

/* -- MAIN NAV-BAR STYLES --  */

.main-nav-bar {
  position: relative;
  width: 320px;
  height: 60.54px;
  display: flex;
  background: linear-gradient(180deg, #2A48A2 0%, #2784B9 100%);
}

.menuBtn {
  position: relative;
  left: 6.25%;
  right: 88.02%;
  top: 35.99%;
  width: 18.33px;
  height: 22px;
  bottom: 38.88%;
  color: #FFFFFF;
}

.searchBtn {
  position: relative;
  left: 76.11%;
  right: 10.31%;
  top: 34.38%;
  bottom: 32.28%;
  height: 25px;
  width: 28px;
  color: #fbf9ff;
}

.searchbarContainer {
  position: absolute;
  left: 20.94%;
  right: 8.75%;
  top: 33.73%;
  bottom: 25.97%;
  display: flex;
  background: #FBF9FF;
  mix-blend-mode: normal;
  overflow: hidden;
  border-radius: 10px;
}

.searchbarContainer .searchBtn {
  position: absolute;
  left: 85.33%;
  right: 9.55%;
  top: -7%;
  bottom: 26.55%;
  width: 30px;
  padding: 2px;
  /* background: red; */
  color: black;
  cursor: pointer;
}

.searchbarContainer .searchBtn:hover {
  background: #e2dfdf;
}

.searchbar { 
  position: absolute;
  left: 2%;
  top: 19%;
  font-size: 100%;
  height: 15px;
  width: 80%;
  outline: none;
  border: none;  
  background: none;
}

/* -- MAIN / SAVED QUIZ VIEW STYLES -- */

.mainQuizzesView {
  outline: 1px solid black;
  position: relative;
  left: 0%;
  right: 0%;
  /* top: 3.38%; */
  bottom: 0%;
  height: 589px;
  border: 1px solid #E2DFDF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* overflow: hidden; */
  overflow: auto;
}

.mainQuizzesView::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.quizzesHeading {
  position: relative;
  width: 280px;
  height: 48px;
  left: 19px;
  bottom: 5px;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.2em;
  color: #000000;
  /* outline: 1px solid red; */
}


.indQuizCntr, .savedQuizzesCntr {
  position: relative;
  bottom: 30px;
  height: 530px;
  /* outline: 1px solid blue; */
}

 /* -- IND QUIZ VIEW STYLES -- */

.indQuizView {
  position: relative;
  width: 283px;
  height: 114px;
  left: 16px;
  border: 1px solid #E2DFDF;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.quizName {
  position: relative;
  width: 187px;
  height: 27px;
  left: 14px;
  bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  
  color: #000000;
}

.quizQuestions {
  position: relative;
  width: 102px;
  height: 9px;
  left: 14px;
  bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #000000;

}

.creatorName {
  position: relative;
  width: 104px;
  height: 17px;
  left: 12px;
  bottom: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

color: #000000;

}

.saveBtn {
  position: relative;
  width: 66px;
  height: 25px;
  left: 99px;
  bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  background: rgba(226, 223, 223, 0.7);
  border-radius: 8px;
  cursor: pointer;
}

.startBtn {
  position: absolute;
  width: 89px;
  height: 25px;
  left: 178px;
  top: 82px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fbf9ff;
  background: linear-gradient( #2784B9, rgba(39, 132, 185, .60));
  border-radius: 8px;
  cursor: pointer;
}

.saveBtn:hover, .startBtn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  transition: .125s all;
}


